# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python virtual environments
.venv/
venv/
ENV/
env/
venv_arm64/

# Local environment variables configuration (sensitive secrets)
.env

# Unit test / coverage reports
.pytest_cache/
.tox/
htmlcov/
.coverage
.coverage.*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
